---
import Topbar from "src/layouts/Topbar.astro";
import Layout from "../layouts/Layout.astro";
import Header from "src/layouts/Header.astro";
import { containers, subcontainers, containers_titles, c_w_vendedores } from '../utils/Containers';

import Componente_table_vendedores from './vendedores/table_vendedores'
import Componente_graphic_fact_pdds_vend from './vendedores/graphic_fact_pdds_vend'
import Componente_table_fact_pdds_vend from './vendedores/table_fact_pdds_vend'
import Componente_graphic_cobr_vend from './vendedores/graphic_cobr_vend'
import Componente_table_cobr_vend from './vendedores/table_cobr_vend'
---

<Layout title="Vendedores - CLO">
  <!-- Header -->
  <Header />
  <div class="flex flex-col">
    <!-- Topbar -->
    <div>
      <Topbar />
      <div class="hr-custom"></div>
    </div>
    
    <!-- Content -->
    <div id="content" class="w-full">
      <!-- Container #1: Detalle general de vendedores -->
      <div id="container-vendedores">
        <div class="w-full flex flex-wrap">
          <!-- Subcontainer 1.1: Detalle general de vendedores -->
          <div class={`${containers} ${c_w_vendedores['c_1-1']}`}>
            <div class={`${subcontainers}`}>
              <p class={`${containers_titles} px-1 pb-2`}>
                Detalle general de vendedores
              </p>
              <div class="flex h-full w-full justify-center items-center">
                <Componente_table_vendedores client:load />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Container #2: Facturas y pedidos -->
      <div id="container-fact-pdds">
        <div class="w-full flex flex-wrap">
          <!-- Subcontainer 2.1: Cantidad de facturas y pedidos -->
          <div class={`${containers} ${c_w_vendedores['c_2-1']}`}>
            <div class={`${subcontainers}`}>
              <div class="flex flow-row justify-center items-center">
                <p class={`${containers_titles} px-1 pb-2`}>
                  Detalle de clientes por vendedor
                </p>
              </div>
              <div class="flex justify-center items-center h-[40dvh] w-auto">
                <Componente_graphic_fact_pdds_vend client:load />
              </div>
            </div>
          </div>

          <!-- Subcontainer 2.2: Hist贸rico de pedidos y facturas -->
          <div class={`${containers} ${c_w_vendedores['c_2-1']}`}>
            <div class={`${subcontainers}`}>
              <div class="flex flow-row justify-center items-center">
                <p class={`${containers_titles} px-1 pb-2`}>
                  Hist贸rico de pedidos y facturas
                </p>
              </div>
              <div class="flex h-full w-full justify-center items-center">
                <Componente_table_fact_pdds_vend client:load />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Container #3: Cobranzas -->
      <div id="container-fact-pdds">
        <div class="w-full flex flex-wrap">
          <!-- Subcontainer 3.1: Cantidad de cobranzas -->
          <div class={`${containers} ${c_w_vendedores['c_3-1']}`}>
            <div class={`${subcontainers}`}>
              <div class="flex flex-row justify-between items-center">
                <p class={`${containers_titles} px-1 pb-2`}>
                  Cantidad de cobranzas
                </p>
              </div>
              <div class="flex justify-center items-center h-[40dvh] w-auto">
                <Componente_graphic_cobr_vend client:load />
              </div>
            </div>
          </div>

          <!-- Subcontainer 3.2: Hist贸rico de cobranza -->
          <div class={`${containers} ${c_w_vendedores['c_2-1']}`}>
            <div class={`${subcontainers}`}>
              <div class="flex flow-row justify-center items-center">
                <p class={`${containers_titles} px-1 pb-2`}>
                  Hist贸rico de cobranza
                </p>
              </div>
              <div class="flex h-full w-full justify-center items-center">
                <Componente_table_cobr_vend client:load />
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</Layout>